################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApi/.vs/TestApi
/TestApi/TestApi/bin/Debug/net6.0
*.sqlite
/TestApi/TestApi/obj
